/* Prevent default padding and margins from getting in the way */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Poppins';
  src: url(./assets/fonts/Poppins-ExtraLight.ttf);
}

@font-face {
  font-family: 'PlayFair';
  src: url(./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #0891B2;
  box-shadow: 5px -1px 5px 1px black;
  padding: 10px 15px;
}

main {
  padding: 10px 20px;
}

footer {
  padding: 40px 50px;
  background-color: #0891B2;
  color: white;
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: 50px;
}

/* .profile  {
  width: 100%;
  min-width: 250px;
  max-width: 400px;
  height: auto;
  object-fit: contain;
} */

.name {
  color: white;
  font-size: xx-large;
  min-width: 300px;
  min-height: max(200px, 70vh);
  background-image: url("./assets/stock-photos/person-studying.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.about-me {
  padding: 20px 30px;
  box-shadow: 5px -1px 5px 1px black;
  background-color: white;
  max-height: 800px;
  max-width: 650px;
  align-self: center;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.description{
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  text-overflow:clip;
}

.about-me .title {
  font-family: "PlayFair", sans-serif;
}

.icons {
  display: flex;
  height: 30px;
  flex-direction: row;
}

header .icons {
  justify-content: flex-end;
  gap: 10px;
}

.work-heading {
  font-family: "PlayFair", sans-serif;
}

.title-and-buttons h2 {
  font-family: "PlayFair", sans-serif;
}

.project-cards {
  padding: 10px 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  gap: 40px 30px;
}

.card {
  min-width: 325px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px grey;
}

.card img {
height: 175px;
 width: 100%;
 object-fit: center;
 object-fit: cover;
 border-top-left-radius: inherit;
 border-top-right-radius: inherit;
}

.card-desc {
  padding: 0 20px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}


.title-and-buttons {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-buttons img {
  height: 30px;
  width: auto;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
}

.contacts h1 {
  font-family: 'PlayFair', sans-serif;
}

.contacts div {
  font-family: 'Poppins', sans-serif;
}
.phone-num, .email {
  display: flex;
  align-items: center;
  gap: 5px;
}

.phone-num img, .email img {
  filter: invert(1);
  height: 20px;
}

.working-img {
  min-width: 50px;
  max-width: 500px;
  height: auto;
  object-position: center;
  object-fit: cover;
}

footer .icons {
  justify-content: flex-start;
  gap: 30px;
}

@media screen and (max-width: 500px) { /* The same as saying when the screen is less than 500px wide*/
  header {
    display: flex;
    gap: 10px;
    flex-direction: column;
    box-shadow: none;
  }

  main {
    padding: 5px 10px;
  }

  .project-cards {
    padding: 10px 10px;
  }

  footer {
    flex-direction: column;
  }
}

