/* Prevent default padding and margins from getting in the way */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Poppins';
  src: url(./assets/fonts/Poppins-ExtraLight.ttf);
}

@font-face {
  font-family: 'PlayFair';
  src: url(./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #0891B2;
  box-shadow: 5px -1px 5px 1px black;
  padding: 10px 15px;
  max-height: 800px;
}

/* .profile  {
  width: 100%;
  min-width: 250px;
  max-width: 400px;
  height: auto;
  object-fit: contain;
} */

.name {
  color: white;
  font-size: xx-large;
  min-width: 300px;
  min-height: max(200px, 70vh);
  background-image: url("./assets/stock-photos/person-studying.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.about-me {
  padding: 20px 30px;
  box-shadow: 5px -1px 5px 1px black;
  background-color: white;
  max-height: 800px;
  max-width: 650px;
  align-self: center;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.description{
  font-family: 'Poppins', sans-serif;
}

.about-me .title {
  font-family: "PlayFair", sans-serif;
}

.icons {
  display: flex;
  flex-direction: row-reverse;
  height: 30px;
  gap: 10px;
}

@media screen and (max-width: 500px) { /* The same as saying when the screen is less than 500px wide*/
  header {
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
}

